@font-face {
  font-family: "BrittiSansVariable";
  src: url("../webfonts/britti-sans-variable.woff2") format("woff2-variations");
  font-weight: 100 800;
}

h1 {
  font-size: 2rem;
  font-weight: 230;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 3.65vw;
  }
  @media (min-width: 1060px) {
    font-size: 3vw;
  }
  @media (min-width: 1280px) {
    font-size: 2.65vw;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 320;
  line-height: 1.15;

  @media (min-width: 1280px) {
    font-size: 1.6em;
  }
}

h3 {
  font-size: 1.65rem;
  line-height: 1.4;
}

h4 {
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  

  @media (min-width: 768px) {
    font-weight: 400;
  }

  @media (min-width: 1280px) {
    font-size: 1rem;
  }
}

h5 {
  font-size: 95%;
  margin-bottom: 6px;
  color: #999;
}

p {
  font-weight: 300;
  line-height: 1.2;
  font-size: 0.8rem;
  letter-spacing: 0.2px;

  @media (min-width: 1280px) {
    font-size: 0.8rem;
  line-height: 1.25;

  }
}

.txt {
  font-weight: 400;
  line-height: 1.35;
  font-size: 0.72rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  @media (min-width: 768px) {
  font-weight: 300;
  }

  @media (min-width: 1280px) {
    font-size: 0.67rem;
    line-height: 1.35;
  }
}

.tag {
  font-weight: 450;
  line-height: 1.35;
  font-size: 0.6rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 4px 8px 2px 8px;
  border: 1px solid #a1a1a1;
  white-space: nowrap;
  border-radius: 40px;

  @media (min-width: 768px) {
    font-size: 0.6rem;
    font-weight: 350;
    line-height: 1.35;
  }

  @media (min-width: 1280px) {
    font-size: 0.6rem;
    line-height: 1.35;
  }
}

.rise {
  position: relative;
  z-index: 20;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 105%;
    height: 104%;
    background-color: #1a1a1a;
    animation: rise 1.2s 0.5s ease-out forwards;
    z-index: 10;

    @keyframes rise {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100%);
      }
    }
  }
}
