@font-face {
  font-family: "BrittiSansVariable";
  src: url("../webfonts/britti-sans-variable.woff2") format("woff2-variations");
  font-weight: 100 800;
}

h1 {
  font-size: 3vw;
  font-weight: 230;
  line-height: 0.95;

  @media (min-width: 768px) {
    font-size: 2.8vw;
  }
  @media (min-width: 1280px) {
    font-size: 2.5vw;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h3 {
  font-size: 1.65rem;
  line-height: 1.4;
}

h4 {
  font-size: 0.9rem;
  font-weight: 300;
}

h5 {
  font-size: 90%;
  margin-bottom: 4px;
  color: #999;
}

p {
  font-weight: 300;
  line-height: 1.2;
  font-size: 0.8rem;
  letter-spacing: 0.2px;
}

.txt {
  font-weight: 400;
  line-height: 1.35;
  font-size: 0.62rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  @media (min-width: 1280px) {
    font-size: 0.7rem;
    line-height: 1.35;
  }
}

.rise {
  position: relative;
  z-index: 20;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 105%;
    height: 100%;
    background-color: #1a1a1a;
    animation: rise 1.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    z-index: 10;

    @keyframes rise {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100%);
      }
    }
  }
}
