@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography/index.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  font-family: "BrittiSansVariable", sans-serif;
  cursor: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #1a1a1a;
  height: 200vh;
  background-color: #f5f5f5;
}

button {
  font-size: 0.66rem;
  font-weight: 400;
  text-transform: uppercase;
}

.cursor {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #999999a1;
  border-radius: 100%;
  pointer-events: none;
  transform-origin: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 99999;

  @media (pointer: coarse) {
    display: none;
  }
}

.logo {
  font-weight: 300;
  letter-spacing: -0.2px;
}
