@keyframes linkAnimation {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes roll {
  0%,
  100% {
    transform: rotate(-10deg); /* Rotate slightly to the left */
  }
  50% {
    transform: rotate(10deg); /* Rotate slightly to the right */
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.enlarge {
  animation: enlarge 0.35s ease-out;
  transform-origin: center;
}

@keyframes enlarge {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  
}


.roll {
  animation: roll 1s infinite;
}

.link-anim {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: #999;
    transition: 0.35s ease-in-out;
  }

  &:hover::before {
    width: 100%;
    right: unset;
    left: 0;
  }
}
