.header {
    position: sticky;
    top: 48px;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    z-index: -1;
    color: #000;
  
    &Inner {
      position: relative;
      width: fit-content;
      font-size: 0.65rem;
      padding: 0 20px;
      font-weight: 400;
      letter-spacing: 0.2px;

      @media screen and (min-width: 768px) {
        font-size: 0.67rem;
      font-weight: 450;

        
      }
  
      &::before {
        left: 0;
        top: 0;
        content: " >";
        font-size: 80%;
        position: absolute;
        animation: blink 2s linear infinite;


        &:nth-child(2) {
          animation-delay: 0.5s;
        }
      }
  
      &::after {
        right: 0;
        content: "< ";
        font-size: 80%;
        position: absolute;
        top: 0;
        animation: blink 2s linear infinite;

        &:nth-child(2) {
          animation-delay: 0.5s;
        }
      }
    }
  }
  
  @keyframes blink {
    from {
      content: "";
    }
    to {
      content: inherit;
    }
  }